:root{
    --bg-primary:red;
    --text-primary:yellow;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    width: 100vW;
    height: 100vh;
    background-color: var(--bg-primary);

}
